<ion-view view-title="Acerca de">
	<ion-content>

	 
	<div class="card">

		<center>
			<img ng-src="img/company.jpg" alt="logo-establecimiento" class="" height="150" width="150">
		</center>
       <div class="item">
          
          <div style="text-align:left">
             
            <b style="font-size:1.2em;">Nobre de la empresa </b>
            <br>
            <br>
            <i>Descripcion general</i>
            <pre>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt recusandae </pre>
            <br>
           <i>Telefonos</i>
            	<div class="item">
                
	                   <a  class="textItem" style="color:black; text-decoration: none;" ng-href="tel: 000953284156">
	                    <i class="fa fa-phone fa-2x balanced" aria-hidden="true"></i><i class="textItem2">LLamar a 000953284156</i></a>

	                    <br>
	                    <br>

	                    <a  class="textItem" style="color:black; text-decoration: none;" ng-href="tel: 000953284156">
	                    <i class="fa fa-phone fa-2x balanced" aria-hidden="true"></i><i class="textItem2">LLamar a 000958888222</i></a>
               
               </div>

             <b>Horarios</b><br>
             <label>Horarios de atencion de la empresa</label><br>
                  
             <b>Dirección</b><br>     
                  <label> direccion de la empesa </label>
          </div>
          
          
                 
       </div>
   </div>
	
	</ion-content>
</ion-view>