<ion-view view-title="Detalle Establecimiento">
<ion-nav-bar class="bar-assertive">
      <ion-nav-back-button>
      </ion-nav-back-button>
      
    </ion-nav-bar>

  <ion-content class="">







      <img ng-src="{{marcadorSeleccionado.imgest}}" alt="logo-establecimiento"
      class="img_establecimiento " >



        




  <div class="card">


       <ion-item >
      {{rating.name}} 
              <span class="stars alignright">
                  <span ng-style="{ 'width': getStars(rating.number) }"></span>

              </span>             
              
      </ion-item>

       <ion-item ng-show="isVisible">
      
              <i style="float:left; font-weight:500;" class="balanced" >Calificar ahora:</i> 
              <ionic-ratings ratingsobj='ratingsObject'></ionic-ratings>
              
              <button class="button button-balanced button-small" ng-click="calificarAhora()">Enviar!</button>           
              
      </ion-item>
      

      


       <div class="item item-avatar">
          <img ng-src="{{marcadorSeleccionado.imglogo}}" alt="logo-establecimiento" class="" >
          <div style="text-align:left">
             
            <b style="font-size:1.2em;">{{marcadorSeleccionado.nombre}}  <span class="badge badge-{{colorStatus}} badgeDetalle"> </span></b>
            <br>
            <i>Especialidad en</i>
            <br>
            <label ng-repeat="tp in especialidad"> {{tp.nombre}} <br></label>

             <b>Horarios</b>
             <br>
                  <label ng-repeat="h in horario">{{h.diaListo}}: {{h.horaInicio2}} - {{h.horaFin2}} <br></label>
                  <br>
             <b>Dirección</b>     
                  <label> {{marcadorSeleccionado.direccion}}</label>
          </div>
          
          
                 
       </div>

       <div class="item item-body">
            


              <div class="item">
               
                      <a  class="textItem" style="color:black; text-decoration: none;" ng-click="navegarARuta()"> <i class="fa fa-location-arrow fa-2x assertive" aria-hidden="true"></i><i class="textItem2">Como llegar</i></a>
               </div>

               <div class="item">
                
                   <a  class="textItem" style="color:black; text-decoration: none;" ng-href="tel: {{marcadorSeleccionado.telefono}}">
                    <i class="fa fa-phone fa-2x assertive" aria-hidden="true"></i><i class="textItem2">LLamar a {{marcadorSeleccionado.telefono}}</i></a>
               
               </div>

               <div class="item">
               
                  <a class="textItem" style="color:black; text-decoration: none;" href='#/app/modalMenu/{{marcadorSeleccionado.id}}'>  <i class="fa fa-book fa-2x assertive" aria-hidden="true"></i><i class="textItem2">Menú </i></a>
               </div>

               <div class="item">

                          
                      <a class="textItem" style="color:black; text-decoration: none;"  href='#/app/modalPromocion/{{marcadorSeleccionado.id}}'>  
                        <span class="fa-stack fa-1x assertive">
                        <i class="fa fa-certificate fa-stack-2x" aria-hidden="true"></i> 
                        <i style="color:white" class="fa fa-percent fa-stack-1x" aria-hidden="true"></i>
                        </span> 
                            <i class="textItem2">Promociones</i>
                      </a>
               </div>

                    <center>
                   <div class="row" >                            

                      <div class="col" ng-hide="isFb">
                            <a class='textItem' href="#/app/detalleMarcador/{{marcadorSeleccionado.id}}" ng-click="GotoLink('http://www.facebook.com/{{marcadorSeleccionado.facebook}}')"><i class="fa fa-facebook-square assertive fa-2x" aria-hidden="true"></i></a>
                      </div>

                      <div class="col" ng-hide="isTw">
                            <a class='textItem' href="#/app/detalleMarcador/{{marcadorSeleccionado.id}}" ng-click="GotoLink('http://www.twitter.com/{{marcadorSeleccionado.twitter}}')"><i class="fa fa-twitter-square assertive fa-2x" aria-hidden="true"></i></a>                   
                      </div>

                      <div class="col" ng-hide="isWWW">                              
                         <a class='textItem' href="#/app/detalleMarcador/{{marcadorSeleccionado.id}}" ng-click="GotoLink('http://{{marcadorSeleccionado.web}}')"><i class="fa fa-link assertive fa-2x" aria-hidden="true"></i></a>
                      </div>

                  </div>
                    </center>
                

  
      </div>


</div>






       
  </ion-content>
</ion-view>