<ion-view  view-title="Inicio" class="view-with-bg" style="background-image: url(img/fondo.png)">
  <ion-content style="overflow-y:hidden">
<center >
  

  <img ng-src="img/logo.png" alt="user-avatar" class="img_center">
             
    
    
       <div class="div-btn-inicio">
          
         <button class="button  button-assertive icon icon-left ion-location btn-inicio" type="submit" ng-disabled="" ui-sref="app.ubicame" style="width: 70%; margin-bottom:10%; border-radius:50px;"> Ubicame</button>
          
         <button class="button  button-assertive icon icon-left ion-android-list btn-inicio" type="submit" ng-click="irALista()" style="width: 70%; margin-bottom:10%; border-radius:50px;"> Todo Trucks</button>


          <!-- <a class="button  button-positive icon-left ion-ios-telephone-outline" ng-href="tel: 3208653799">Call 3208653799</a>

         
         <a class="button  button-positive" href="#" onclick="window.open('http://www.facebook.com/oscar.gelvez23', '_system', 'location=yes'); return false;">
                Open a FACEBOOK Client or Browser
            </a>

            <br>

            <a class="button  button-positive" href="#" onclick="window.open('http://www.twitter.com/nraboy', '_system', 'location=yes'); return false;">
                Open a Twitter Client or Browser
            </a>

            -->

            
      </div>
   
</center>
  </ion-content>
</ion-view>